$navbar-background: #081f36;
$navbar-background-hover: #09233d;
$navbar-color-text: #fff;

$form-color: #094cdc;
$input-borders: #adadad;
$input-borders-focus: #000;
$submit-btn-hover: #074feb;

$dashboard-item: #f3f5f9;
$error_color: #961515;
